<!DOCTYPE>
<html>
<head>
    <title>
        Add New Student
    </title>
</head>
<body>
    <h1>Create a new student</h1>
    <br>
    <form action="/display-new-student" method="post">
        <label>Enter first name:
            <input type='text' name = 'first_name'>
        </label>
        <br>
        <label>Enter last name:
            <input type='text' name = 'last_name'>
        </label>
        <br>
        <label>Enter github username:
            <input type='text' name = 'github'>
        </label>
        <br>
        <input type='submit' value='create new student'>
    </form>
</body>
</html>